extends Layout

block content
  .container
    h1= name
    h2= relation
    ul
      li #{name} is a #{age} year old
      li #{pronoun} was born in #{birthPlace} on #{birthday}
      li #{pronoun} lives in #{city} with #{cohabitants}
      li #{pronoun} loves to #{hobby} and they are #{relation}